tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font21
	{color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font22
	{color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font23
	{color:windowtext;
	font-size:4.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font24
	{color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font25
	{color:windowtext;
	font-size:5.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font26
	{color:windowtext;
	font-size:7.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font27
	{color:windowtext;
	font-size:5.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;}
.font28
	{color:windowtext;
	font-size:5.5pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font29
	{color:windowtext;
	font-size:5.5pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font30
	{color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font31
	{color:windowtext;
	font-size:7.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;}
.font32
	{color:windowtext;
	font-size:7.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;}
.font33
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;}
.font34
	{color:windowtext;
	font-size:10.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	border:.5pt solid black;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:4.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;
	padding-left:24px;
	mso-char-indent-count:2;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl70
	{mso-style-parent:style0;
	color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl73
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl75
	{mso-style-parent:style0;
	font-size:4.5pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"00\.00";
	text-align:center;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl76
	{mso-style-parent:style0;
	vertical-align:bottom;
	border:.5pt solid black;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-family:"Arial MT";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;}
.xl78
	{mso-style-parent:style0;
	font-size:5.5pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-family:"Arial MT";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	font-size:4.5pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl81
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-style:italic;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	background:#C5D9F0;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-size:5.5pt;
	font-style:italic;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid black;
	background:#C5D9F0;
	mso-pattern:black none;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-weight:700;
	font-style:italic;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	border:.5pt solid black;
	background:#C5D9F0;
	mso-pattern:black none;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-weight:700;
	font-style:italic;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	background:#C5D9F0;
	mso-pattern:black none;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-family:"Arial MT";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	border:.5pt solid black;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	vertical-align:bottom;
	border:.5pt solid black;
	background:#C5D9F0;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl88
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.0pt;
	font-family:"Arial MT";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:right;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl91
	{mso-style-parent:style0;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl93
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.0pt;
	font-family:"Arial MT";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	vertical-align:bottom;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:right;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl96
	{mso-style-parent:style0;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	white-space:normal;
	padding-right:36px;
	mso-char-indent-count:3;}
.xl100
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	white-space:normal;
	padding-right:48px;
	mso-char-indent-count:4;}
.xl101
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	white-space:normal;
	padding-right:672px;
	mso-char-indent-count:56;}
.xl102
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	white-space:normal;
	padding-right:660px;
	mso-char-indent-count:55;}
.xl103
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl104
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl105
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl106
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;}
.xl107
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;}
.xl108
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;}
.xl113
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl114
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl115
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:48px;
	mso-char-indent-count:4;}
.xl116
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:84px;
	mso-char-indent-count:7;}
.xl117
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:84px;
	mso-char-indent-count:7;}
.xl118
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:84px;
	mso-char-indent-count:7;}
.xl119
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:72px;
	mso-char-indent-count:6;}
.xl120
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:72px;
	mso-char-indent-count:6;}
.xl121
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:72px;
	mso-char-indent-count:6;}
.xl122
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:36px;
	mso-char-indent-count:3;}
.xl123
	{mso-style-parent:style0;
	color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	color:windowtext;
	font-size:6.0pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl125
	{mso-style-parent:style0;
	white-space:normal;}
.xl126
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	color:windowtext;
	font-size:5.5pt;
	font-family:"Arial MT", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
